<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trabalho em progresso!</title>
    <style>
        body {
            background: #5A45FF;
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 100vh;
            overflow: hidden;
        }
    </style>
</head>
<body>
<h1>Espero que essa página não seja importante, pois ela não está pronta...</h1>
<h2>Boa sorte :)</h2>
<h2>:p</h2>
</body>
</html>