<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trabalho em progresso!</title>
    <style>
        body {
            background: #5A45FF;
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 100vh;
            overflow: hidden;
        }
    </style>
</head>
<body>
<h1>Ooops...</h1>
<h2>Acho que enviamos você para o lugar errado</h2>
<h2>Melhor voltar para a <a href="{{ route('session.login') }}">página inicial</a>, não?</h2>
</body>
</html>